<!DOCTYPE html>
<html>
  <head>
    <title>Jobsearchtodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h4><%= link_to 'Create a New Task', '/tasks/new' %></h4>
    <%= yield %>
  </body>
</html>
